pkgbase = to-html
	pkgdesc = Render a terminal with ANSI colors as HTML
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/Aloso/to-html
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = util-linux
	source = to-html-0.1.5.tar.gz::https://github.com/Aloso/to-html/archive/v0.1.5.tar.gz
	b2sums = c6da3d285c1594c23e3ea0c25963a4e11fc7beac579e0bb1e2a41c1a5198c49b900a534a3d8c03207284c07cb46e90fe5c0a4b001bd1cc4be2cb9c578e463748

pkgname = to-html
