pkgbase = to-html
	pkgdesc = Render a terminal with ANSI colors as HTML
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/Aloso/to-html
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = util-linux
	source = to-html-0.1.6.tar.gz::https://github.com/Aloso/to-html/archive/v0.1.6.tar.gz
	sha512sums = c48e9cda4c5a62e275ce34a5f0e17d69b43fb1285cdcf97c49ea3619f6c897b9d1b3a19ba075c4db91b40db5775be60eca8c7480e506f13c122e63b0ae64b1d7

pkgname = to-html
